.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    padding: 0 5rem;
}

.product-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.cart-container {
    text-align: center;
    background-color: rgba(255, 153, 0, 0.3);;
}